# Django stuff
Django
django-tables2
django-extensions
django-filter
django-admin-list-filter-dropdown
django-bootstrap3
django-crispy-forms
django-debug-toolbar
django-enumfield
django-meta

# Database stuff
mysqlclient
psycopg2

# Test stuff
faker
factory_boy
coverage
pydotplus
beautifulsoup4
lxml

# Deployment stuff
python-dotenv

# Environment/convenience stuff
ipython
jupyter