{% load static %}
{% load bootstrap3 %}
{% load meta %}
{% load analytical %}

<!DOCTYPE html>
<html lang="en">

<head {% meta_namespaces %}>
  {% analytical_head_top %}

  <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="google" content="notranslate">
  <meta http-equiv="Content-Language" content="en">

  <script src="https://code.jquery.com/jquery-3.4.0.min.js"
          integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>

  <link href='{% static "sqds/mod.css" %}' rel='stylesheet' type='text/css'>
  <link href='{% static "sqds/char_portrait.css" %}' rel='stylesheet' type='text/css'>


  {% bootstrap_css %}
  {% bootstrap_javascript %}
  {% include "meta/meta.html" %}

  {% block head %}
  {% endblock %}

  <title>
    {% block title %}
      {{ meta.title }}
    {% endblock %}
  </title>

  {% analytical_head_bottom %}
</head>

<body>
{% analytical_body_top %}

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
              data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">PREPARE FTW</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        {% if request.COOKIES.sqds_my_name %}
          {% url 'sqds:player' request.COOKIES.sqds_my_ally_code as player_url %}
          {% url 'sqds:guild' request.COOKIES.sqds_my_guild_api_id as guild_url %}
          <li class="{% if request.path == player_url %}active{% endif %}">
            <a href="{{ player_url }}">
              {{ request.COOKIES.sqds_my_name }}
            </a>
          </li>
          <li class="{% if request.path == guild_url %}active{% endif %}">
            <a href="{{ guild_url }}">
              {{ request.COOKIES.sqds_my_guild_name }}
            </a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>

{% comment %}
<div class="alert alert-success">
  <strong>Success!</strong> Indicates a successful or positive action.
</div>
{% endcomment %}


<div class="container-fluid">
  {% if messages %}
    {% for message in messages %}
      <div class="row">
        <div class="col-md-12">
          <div class="alert {% if message.tags %} alert-{{ message.tags }}{% endif %}">
            {{ message }}
          </div>
        </div>
      </div>
    {% endfor %}
  {% endif %}

  {% block content %}
  {% endblock %}
</div>

{% analytical_body_bottom %}
</body>

{% block post_body %}
{% endblock %}

</html>
