{% extends 'sqds/base.html' %}

{% load render_table from django_tables2 %}
{% load bootstrap3 %}
{% load crispy_forms_tags %}
{% load meta %}

{% block content %}

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">{{ meta.title }}</div>

      {% if filter %}
        <div class="panel-body">
          <form action="" method="get" class="form form-inline">
            {% bootstrap_form filter.form layout='inline' %}
            {% bootstrap_button 'filter' %}
          </form>
        </div>
      {% endif %}

      <div style="overflow-y: scroll">
        {% render_table table %}
      </div>
    </div>
  </div>
</div>

{% endblock %}
