{% extends 'sqds/base.html' %}

{% load render_table from django_tables2 %}
{% load bootstrap3 %}
{% load crispy_forms_tags %}
{% load sqds_filters %}


{% block content %}
  <div class="row">

    {# TOOLBAR #}
    <div class="col-lg-12">
      <div class="btn-toolbar" role="toolbar">
        {# GROUP: UNITS #}
        <div class="btn-group" role="group" style="margin-bottom: 15px">
          {# BUTTON: INSPECT UNITS #}
          <a class="btn btn-default" role="button" href="{% url 'sqds:guild_units' guild.api_id %}">Inspect all
            units</a>

          {# BUTTON: COMPARE UNITS WITH MY GUILD'S #}
          {% if request.COOKIES.sqds_my_guild_api_id and request.COOKIES.sqds_my_guild_api_id != guild.api_id %}
            <a href="{% url 'sqds:guild_compare_units' request.COOKIES.sqds_my_guild_api_id guild.api_id %}"
               class="btn btn-default" role="button">
              Compare units with my guild
            </a>
          {% endif %}
        </div>
        {# GROUP: OFFICER TOOLS #}
        <div class="btn-group" role="group" style="margin-bottom: 15px">
          <a href="{% url 'sqds_officers:sep_farm' guild.api_id %}" class="btn btn-default" role="button">
            Separatists farm
          </a>
          <a href="{% url 'sqds_officers:geo_tb' guild.api_id %}" class="btn btn-default" role="button">
            Geo TB player list
          </a>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">Info</div>
        <table class="table">
          <tr>
            <th>Name</th>
            <td>{{ guild.name }}</td>
          </tr>
          <tr>
            <th>Last updated</th>
            <td>{{ guild.last_updated }}</td>
          </tr>
          <tr>
            <th>GP</th>
            <td>{{ guild.gp | big_number }}</td>
          </tr>
          <tr>
            <td>&nbsp;&nbsp;&nbsp;Character GP</td>
            <td>{{ guild.gp_char | big_number }}</td>
          </tr>
          <tr>
            <td>&nbsp;&nbsp;&nbsp;Ship GP</td>
            <td>{{ guild.gp_ship | big_number }}</td>
          </tr>
          <tr>
            <td class='danger'>&nbsp;&nbsp;&nbsp;Sep GP</td>
            <td class='danger'>{{ guild.sep_gp | big_number }}</td>
          </tr>
          <tr>
            <td class='info'>&nbsp;&nbsp;&nbsp;GR GP</td>
            <td class='info'>{{ guild.gr_gp | big_number }}</td>
          </tr>
        </table>
      </div>
    </div>

    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">Statistics</div>
        <table class="table">
          <tr>
            <th>Player count</th>
            <td>{{ guild.player_count }}</td>
          </tr>
          <tr>
            <th>Zeta</th>
            <td>{{ guild.zeta_count }}</td>
          </tr>
          <tr>
            <th>Unit count</th>
            <td>{{ guild.unit_count }}</td>
          </tr>
          <tr>
            <td>&nbsp;&nbsp;&nbsp;7*</td>
            <td>{{ guild.seven_star_unit_count }}</td>
          </tr>
          <tr>
            <td>&nbsp;&nbsp;&nbsp;G13</td>
            <td>{{ guild.g13_unit_count }}</td>
          </tr>
          <tr>
            <td>&nbsp;&nbsp;&nbsp;G12</td>
            <td>{{ guild.g12_unit_count }}</td>
          </tr>
          <tr>
            <td>&nbsp;&nbsp;&nbsp;G11</td>
            <td>{{ guild.g11_unit_count }}</td>
          </tr>
          <tr>
            <td>&nbsp;&nbsp;&nbsp;G10</td>
            <td>{{ guild.g10_unit_count }}</td>
          </tr>
          <tr>
            <th>G12 gear pieces</th>
            <td>{{ guild.g12_gear_count }}</td>
          </tr>
          <tr>
            <td>&nbsp;&nbsp;&nbsp;left</td>
            <td>{{ guild.left_hand_g12_gear_count }}</td>
          </tr>
          <tr>
            <td>&nbsp;&nbsp;&nbsp;right</td>
            <td>{{ guild.right_hand_g12_gear_count }}</td>
          </tr>
          <tr>
            <th>Mod count</th>
            <td>{{ guild.mod_count }}</td>
          </tr>
          <tr>
            <td>&nbsp;&nbsp;&nbsp;6 pips</td>
            <td>{{ guild.mod_count_6dot }}</td>
          </tr>
          <tr>
            <td>&nbsp;&nbsp;&nbsp;+25</td>
            <td>{{ guild.mod_count_speed_25 }}</td>
          </tr>
          <tr>
            <td>&nbsp;&nbsp;&nbsp;+20</td>
            <td>{{ guild.mod_count_speed_20 }}</td>
          </tr>
          <tr>
            <td>&nbsp;&nbsp;&nbsp;+15</td>
            <td>{{ guild.mod_count_speed_15 }}</td>
          </tr>
          <tr>
            <td>&nbsp;&nbsp;&nbsp;+10</td>
            <td>{{ guild.mod_count_speed_10 }}</td>
          </tr>
          <tr>
            <td>&nbsp;&nbsp;&nbsp;∑15+</td>
            <td>{{ guild.mod_total_speed_15plus }}</td>
          </tr>
        </table>
      </div>
    </div>

    <div class="col-sm-12 col-md-12 col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">Characters</div>

        {% if filter %}
          <div class="panel-body">
            <form action="" method="get" class="form form-inline">
              {% bootstrap_form filter.form layout='inline' %}
              {% bootstrap_button 'filter' %}
            </form>
          </div>
        {% endif %}

        <div style="overflow-y: scroll">
          {% render_table table %}
        </div>
      </div>
    </div>
  </div>

{% endblock %}
