{% extends 'sqds/base.html' %}

{% load render_table from django_tables2 %}
{% load bootstrap3 %}

{% block title %}
  PREPARE FTW
{% endblock %}


{% block content %}

  <div class="row">

    {# QUICK NAVIGATION BAR #}
    <div class="col-md-12 col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          Quick actions
        </div>
        <div class="panel-body" style="padding-bottom: 0">
          <div class="btn-toolbar" role="toolbar">
            <div class="row">
              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" style="padding-bottom: 15px">
                <div class="btn-group btn-group-justified" role="group">
                  <a class="btn btn-default" role="button" href="{% url 'sqds:guild' 'G2737841003' %}">Go to PREPARE</a>
                  <a class="btn btn-default" role="button" href="{% url 'sqds:guild' 'G3397624354' %}">
                    Go to PREPAIRED
                  </a>
                </div>
              </div>

              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" style="padding-bottom: 15px">
                <div class="btn-group btn-group-justified" role="group">
                  <script type="text/javascript">
                      function setPlayerFormAction() {
                          var my_form = document.getElementById('player_form');
                          var ally_code = document.getElementById('ally_code').value.replace(/\D/g, '');
                          my_form.action = "/player/" + ally_code + "/"
                      }
                  </script>
                  <form id="player_form" method="GET" class="form-inline" style="display: inline"
                        onsubmit="setPlayerFormAction()">
                    <label class="sr-only" for="ally_code">Ally code</label>
                    <div class="input-group">
                      <input type="text" class="form-control" id="ally_code" placeholder="XXX-XXX-XXX"/>
                      <span class="input-group-btn">
                        <button type="submit" class="btn btn-default">Inspect player</button>
                      </span>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="col-sm-12 col-md-12 col-lg-6">
      <div class="panel panel-default">
        <div class="panel-heading">How to use</div>
        <div class="panel-body">
          <p><b>Where do I find stuff here?</b></p>
          <p>
            Start by navigating to one of our guilds with the buttons above. This will bring you to the guild page,
            with a list of players and related stats. You can click on player names to go to the corresponding page,
            or inspect all of the guild's unit by clicking on the related link. You got the idea -- if its blue,
            click on it and see where it brings you.
          </p>
          <p><b>How can I register who I am?</b></p>
          <p>Navigate to your page (e.g. go to PREPARE's page, then click on your name in the list) and click on the
            "I am <em>player name</em>" button. Once done, the top toolbar will offer direct access to your and your
            guild's pages.
          </p>
          <p><b>How can I compare myself with an opponent?</b></p>
          <p>
            Navigate to your page (if you registered a profile, you can access your page from the top toolbar),
            enter the opponent's ally code in the "Compare with" text field, and click the "Compare" button.
            The formatting is irrelevant: you may leave the dashes or not, you may surround the ally code with text
            such as commas, you could even paste a swgoh.gg profile URL and it would work.
          </p>
          <p><b>How can I compare myself with the rest of my GA pool?</b></p>
          <p>
            Navigate to your page and enter all of your opponents' ally codes in the GA pool text field. Again, the
            formatting is irrelevant. Click on the "Analyse" button. The page will take a few minutes to load while
            the opponents' data is downloaded. From the GA pool comparison page, you can
            compare with individual players, see their units, etc. by clicking on the corresponding links.
            <b>Note:</b> once a GA pool is loaded, you can visit it again without entering the ally codes again. A
            list of the past 10 GA pools is shown on your player page.
          </p>
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-md-12 col-lg-6">
      <div class="panel panel-default">
        <div class="panel-heading">About this site</div>
        <div class="panel-body">
          <p><b>What is this site?</b></p>
          <p>This site exists because I (hhip) wanted to learn about things like web apps, Python, Django, DevOps,
            etc. and figured it would be a fun way to go about it.</p>
          <p><b>Okay but what is this site <em>to me</em>?</b></p>
          <p>At its core, it provides an efficient way to list, inspect and compare all of the guild's stats, both for
            player and toons. I will also be adding various features such as player vs. player comparison (Grand Arena)
            or guild vs. guild comparison (Territory War).
          </p>
          <p><b>Who is this site for?</b></p>
          <p>Me (see first question above). Also, members of PREPARE and PREPAIRED guilds.</p>
          <p><b>Aren't you basically duplicating swgoh.gg and/or Discord bots?</b></p>
          <p>See first question above. Also, you will find some unique metrics/stats/lists that are impossible or
            difficult to obtain from other sources.</p>
          <p><b>How fresh is the data?</b></p>
          <p>PREPARE and PREPAIRED data is updated every 4 hours. Data from other guilds/players is loaded on demand,
            and then not kept up-to-date. Date and time of last update is usually displayed somewhere.</p>
          <p><b>Can I have feature XYZ?</b></p>
          <p>Possibly. Let me know about it.</p>
          <p><b>Why is the design so shitty?</b></p>
          <p>See first question above.</p>
          <p><b>Why is the site bugged/broken/down?</b></p>
          <p>See first question above.</p>
          <p><b>With sneaky moves like highlighting Separatists' GP, aren't you trying to force me into farming
            things?</b></p>
          <p>Well, I hadn't thought of it but now that say I might do even more of that.</p>
          <p><b>I am at the bottom of the list. This site is an insult to me!</b></p>
          <p>Sorry what's the question again?</p>
        </div>
      </div>
    </div>

    <div class="col-md-12 col-sm-12 col-lg-6">
      <div class="panel panel-default">
        <div class="panel-heading">Release notes</div>
        <div class="panel-body">
          <p><b>3-Aug-2019</b></p>
          <ul>
            <li>
              Better mobile support: everything has more or less the correct size now (proper mobile support is still
              WIP). Note that top navigation links (your player and guild) are now in the top right menu (mobile only).
            </li>
            <li>
              New GA pool analysis feature, accessible from the player page. Enter a bunch of ally codes to view
              a big comparison table, from which you can explore specific player vs. player comparisons. Once a GA
              pool is created, it remains accessible from your player's page (no need to enter ally codes again).
              <b>Note:</b> upon initial creation, the page may take a few minutes to appear while the data is loaded.
            </li>
            <li>
              Improved player vs. player comparison page: key toons are displayed with most important stats. Full
              stats available by clicking on the toon's portrait. <b>Note:</b> I'm not super happy with this part yet
              -- feedback for improvement is most welcome.
            </li>
            <li>
              The list of units for player vs. player comparison is moved to a separate page, accessible either from the
              base pvp page or directly from the GA pool table.
            </li>
            <li>
              Revamped landing page. Navigation tools are now on top and 17% better looking. Added a new How To
              section to explain not-so-obvious features (I'll happily take feedback to improve these as well).
            </li>
            <li>
              Added toon/ship GP to the guild page.
            </li>
            <li>
              Added last updated to the guild page.
            </li>
            <li>
              Faster, more robust player data download (used for GA pool creation and regular guild updates).
            </li>
            <li>
              Misc. smaller improvement here and there.
            </li>
          </ul>
          <p><b>13-July-2019</b></p>
          <ul>
            <li>Geo TB tools (farming graph and player list) have their URL changed. They are now accessible from the
              guild page, and can be displayed for PREPAIRED as well (or any guild really, except the farming plot will
              be broken).
            </li>
          </ul>
          <p><b>12-July-2019</b></p>
          <ul>
            <li>You can now identify yourself as a specific player (by clicking "I am &lt;player&gt;" on the player
              page). Doing so enables a direct link to your and your guild's profile from the navigation bar. Note that
              the identification is stored in cookies and thus must be done in each of your browsers.
            </li>
          </ul>
          <p><b>9-July-2019</b></p>
          <ul>
            <li>Slightly simplified the zeta display in unit list, which enabled significant optimisation page load
              time
            </li>
          </ul>
          <p><b>8-July-2019</b></p>
          <ul>
            <li>Fancy-ass character display in unit page</li>
          </ul>
          <p><b>7-July-2019</b></p>
          <ul>
            <li>Fancy-ass mod display in unit page (WIP: primary highlighting and stat roll count to be added)</li>
          </ul>
          <p><b>4-July-2019</b></p>
          <ul>
            <li>Added link to .gg profile on player's page</li>
            <li>Long unit and/or player names no longer makes the row fatter in unit lists</li>
          </ul>
          <p><b>2-July-2019</b></p>
          <ul>
            <li>Added two graphs to the player vs. player comparison: mod speed comparision and GP analysis</li>
          </ul>
          <p><b>1-July-2019</b></p>
          <ul>
            <li>Mod part of toon stats are now imported, and some are displayed in toon lists. Both total mod speed and
              mod speed w/o accounting for set bonus are displayed.
            </li>
          </ul>
          <p><b>27-June-2019</b></p>
          <ul>
            <li>Added row numbering to all tables</li>
            <li>Added G13 count everywhere</li>
            <li>Optimised data loading from swgoh.help (updated to new crinolo api). Guild refresh is now faster and
              more robust, and loading new player data (eg. for pvp comparison) is now faster.
            </li>
          </ul>
          <p><b>22-June-2019</b></p>
          <ul>
            <li>Added support for previews when link is posted, eg., in Discord</li>
            <li>Player name in unit list is now a link to the player's page</li>
          </ul>
          <p><b>21-June-2019</b></p>
          <ul>
            <li>PREPAIRED is now auto refreshed every 4h and linked on the front page.</li>
            <li>Added tooltips to some of the column header in the guild view.</li>
            <li>Added historical recording of every toon's GP (one value per day).</li>
          </ul>
          <p><b>20-June-2019</b></p>
          <ul>
            <li>Added a conspicuous "Separatist GP" column to the guild view.</li>
            <li>Massive optimisation of the guild page loading time.</li>
          </ul>
          <p><b>02-June-2019</b></p>
          <ul>
            <li>Link to all of the guild's units made more obvious</li>
            <li>Added link to various unit guild ranking (e.g fat Nest, etc.)</li>
            <li>All of PREPARE data is now updated every 4 hours</li>
            <li>Added mod info to unit page</li>
          </ul>
          <p><b>28-May-2019</b></p>
          <ul>
            <li>Initial release</li>
            <li>Guild/player/unit views</li>
            <li>Player v. Player comparison</li>
            <li>Inspect any player based on ally code</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
