{% extends 'sqds/base.html' %}

{% load render_table from django_tables2 %}
{% load bootstrap3 %}

{% block title %}
  PREPARE FTW
{% endblock %}


{% block content %}

  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">Introduction</div>
        <div class="panel-body">
          <p><b>What is this site?</b></p>
          <p>This site exists because I (hhip) wanted to learn about things like web apps, Python, Django, DevOps,
            etc. and figured it would be a fun way to go about it.</p>
          <p><b>Okay but what is this site <em>to me</em>?</b></p>
          <p>At its core, it provides an efficient way to list, inspect and compare all of the guild's stats, both for
            player and toons. I will also be adding various features such as player vs. player comparison (Grand Arena)
            or guild vs. guild comparison (Territory War).
          </p>
          <p><b>Who is this site for?</b></p>
          <p>Me (see first question above). Also, members of PREPARE and PREPAIRED guilds.</p>
          <p><b>Aren't you basically duplicating swgoh.gg and/or Discord bots?</b></p>
          <p>See first question above. Also, you will find some unique metrics/stats/lists that are impossible or
            difficult to obtain from other sources.</p>
          <p><b>How fresh is the data?</b></p>
          <p>PREPARE and PREPAIRED data is updated every 4 hours. Data from other guilds/players is loaded on demand,
            and then not kept up-to-date. Date and time of last update is usually displayed somewhere.</p>
          <p><b>Can I have feature XYZ?</b></p>
          <p>Possibly. Let me know about it.</p>
          <p><b>Why is the design so shitty?</b></p>
          <p>See first question above.</p>
          <p><b>Why is the site bugged/broken/down?</b></p>
          <p>See first question above.</p>
          <p><b>With sneaky moves like highlighting Separatists' GP, aren't you trying to force me into farming
            things?</b></p>
          <p>Well, I hadn't thought of it but now that say I might do even more of that.</p>
          <p><b>I am at the bottom of the list. This site is an insult to me!</b></p>
          <p>Sorry what's the question again?</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">

    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">Quick action</div>
        <div class="panel-body">
          <p>Inspect <a href="{% url 'sqds:guild' 'G2737841003' %}">PREPARE</a>.</p>
          <p>Inspect <a href="{% url 'sqds:guild' 'G3397624354' %}">PREPAIRED</a>.</p>
          <div>
            <script type="text/javascript">
                function setPlayerFormAction() {
                    var my_form = document.getElementById('player_form');
                    var ally_code = document.getElementById('ally_code').value.replace(/\D/g, '');
                    my_form.action = "/player/" + ally_code + "/"
                }
            </script>
            Inspect new player:
            <form id="player_form" method="GET" class="form-inline" onsubmit="setPlayerFormAction()">
              <label class="sr-only" for="ally_code">Ally code</label>
              <input type="text" class="form-control" id="ally_code" placeholder="XXX-XXX-XXX"/>
              <button type="submit" class="btn btn-default">Go</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    {% comment %}
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">Guilds</div>
        <div class="panel-body">
          <ul>
            {% for guild in guilds %}
              <li><a href="{% url 'sqds:guild' guild.api_id %}">{{ guild.name }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    {%  endcomment %}

    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">Release notes</div>
        <div class="panel-body">
          <p><b>7-July-2019</b></p>
          <ul>
            <li>Fancy-ass mod display in unit page (WIP: primary highlighting and stat roll count to be added)</li>
          </ul>
          <p><b>4-July-2019</b></p>
          <ul>
            <li>Added link to .gg profile on player's page</li>
            <li>Long unit and/or player names no longer makes the row fatter in unit lists</li>
          </ul>
          <p><b>2-July-2019</b></p>
          <ul>
            <li>Added two graphs to the player vs. player comparison: mod speed comparision and GP analysis</li>
          </ul>
          <p><b>1-July-2019</b></p>
          <ul>
            <li>Mod part of toon stats are now imported, and some are displayed in toon lists. Both total mod speed and
            mod speed w/o accounting for set bonus are displayed.</li>
          </ul>
          <p><b>27-June-2019</b></p>
          <ul>
            <li>Added row numbering to all tables</li>
            <li>Added G13 count everywhere</li>
            <li>Optimised data loading from swgoh.help (updated to new crinolo api). Guild refresh is now faster and
              more robust, and loading new player data (eg. for pvp comparison) is now faster.
            </li>
          </ul>
          <p><b>22-June-2019</b></p>
          <ul>
            <li>Added support for previews when link is posted, eg., in Discord</li>
            <li>Player name in unit list is now a link to the player's page</li>
          </ul>
          <p><b>21-June-2019</b></p>
          <ul>
            <li>PREPAIRED is now auto refreshed every 4h and linked on the front page.</li>
            <li>Added tooltips to some of the column header in the guild view.</li>
            <li>Added historical recording of every toon's GP (one value per day).</li>
          </ul>
          <p><b>20-June-2019</b></p>
          <ul>
            <li>Added a conspicuous "Separatist GP" column to the guild view.</li>
            <li>Massive optimisation of the guild page loading time.</li>
          </ul>
          <p><b>02-June-2019</b></p>
          <ul>
            <li>Link to all of the guild's units made more obvious</li>
            <li>Added link to various unit guild ranking (e.g fat Nest, etc.)</li>
            <li>All of PREPARE data is now updated every 4 hours</li>
            <li>Added mod info to unit page</li>
          </ul>
          <p><b>28-May-2019</b></p>
          <ul>
            <li>Initial release</li>
            <li>Guild/player/unit views</li>
            <li>Player v. Player comparison</li>
            <li>Inspect any player based on ally code</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
