{% load sqds_filters %}

<div style="overflow-y: scroll">
  <table class="table">
    <thead>
    <tr>
      <th></th>
      {% for player in players %}
        <th {% if forloop.counter0 == 0 %}class='info'{% endif %}>
          <a href="{% url 'sqds:player' player.ally_code %}">{{ player.name }}</a>
        </th>
      {% endfor %}
    </tr>
    </thead>
    <tbody>
    <tr>
      <th>Guild</th>
      {% for player in players %}
        <td>{% if player.guild %}
          <a href="{% url 'sqds:guild' player.guild.api_id %}">{{ player.guild.name }}</a>{% endif %}</td>
      {% endfor %}
    </tr>
    <tr>
      <th>Ally code</th>
      {% for player in players %}
        <td>{{ player.ally_code | ally_code }}</td>
      {% endfor %}
    </tr>
    {% if players|length > 2 %}
      <tr>
        <th></th>
        {% for player in players %}
          <td>
            {% if forloop.counter0 > 0 %}
              <a href="{% url 'sqds:player_compare' players.0.ally_code player.ally_code %}">compare stats</a><br/>
              <a href="{% url 'sqds:player_compare_units' players.0.ally_code player.ally_code %}">unit list</a>
            {% endif %}
          </td>
        {% endfor %}
      </tr>
    {% endif %}

    {% for line in lines %}
      <tr>
        {{ line.label|safe }}
        {% for data in line.data %}
          <td class="{{ data.class }}">{{ data.value }}</td>
        {% endfor %}
      </tr>
    {% endfor %}

    {% if players|length == 2 %}
      <tr>
        <td></td>
        <td colspan="2">
          <a class="btn btn-default"
             href="{% url 'sqds:player_compare_units' players.0.ally_code players.1.ally_code %}">
            compare units
          </a>
        </td>
      </tr>
    {% endif %}
    </tbody>
  </table>
</div>