{% load sqds_filters %}

<table class="table">
  <thead>
    <tr>
      <th></th>
      <th class='info'><a href="{% url 'sqds:player' player1.ally_code %}">{{ player1.name }}</a></th>
      <th><a href="{% url 'sqds:player' player2.ally_code %}">{{ player2.name }}</a></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Guild</th>
      <td><a href="{% url 'sqds:guild' player1.guild.api_id %}">{{ player1.guild.name }}</a></td>
      <td><a href="{% url 'sqds:guild' player2.guild.api_id %}">{{ player2.guild.name }}</a></td>
    </tr>
    <tr>
      <th>Ally code</th>
      <td>{{ player1.ally_code | ally_code }}</td>
      <td>{{ player2.ally_code | ally_code }}</td>
    </tr>

    {% for line in lines %}
    <tr>
      <{{ line.label_type }}>{{ line.label|safe }}</{{ line.label_type }}>
      <td class="{{ line.left_class }}">{{ line.left_data }}</td>
      <td class="{{ line.right_class }}">{{ line.right_data }}</td>
    </tr>
    {% endfor %}

  </tbody>
</table>
