{% extends 'sqds/base.html' %}

{% load render_table from django_tables2 %}
{% load bootstrap3 %}
{% load crispy_forms_tags %}
{% load sqds_filters %}

{% block title %}
  Player: {{ player.name }}
{% endblock %}


{% block content %}

  <div class="row">

    <!-- Info panel -->
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">Info</div>

        <table class="table">
          <tbody>
          <tr>
            <th>Name</th>
            <td>{{ player.name }} (<a href="{% url 'sqds:player_refresh' player.ally_code %}">refresh</a>)</td>
          </tr>
          <tr>
            <th>&nbsp;</th>
            <td>
              {% if request.path == player_url %}
                <a class="btn btn-default" role="button" href="{% url 'sqds:player_unregister' %}">
                  I am not {{ player.name }}
                </a>
              {% else %}
                <a class="btn btn-default" role="button" href="{% url 'sqds:player_register' player.ally_code %}">
                  I am {{ player.name }}
                </a>
              {% endif %}
            </td>
          </tr>
          <tr>
            <th>&nbsp;</th>
            <td><a href="https://swgoh.gg/p/{{ player.ally_code }}/">swgoh.gg profile</a></td>
          </tr>
          <tr>
            <th>Guild</th>
            <td>{% if player.guild %}
              <a href="{% url 'sqds:guild' player.guild.api_id %}">{{ player.guild.name }}</a>{% endif %}</td>
          </tr>
          <tr>
            <th>Ally code</th>
            <td>{{ player.ally_code | ally_code }}</td>
          </tr>
          <tr>
            <th>Last updated</th>
            <td>{{ player.last_updated }}</td>
          </tr>
          <tr>
            <th>Compare with</th>
            <td>
              <script type="text/javascript">
                  function setCompareFormAction() {
                      var my_form = document.getElementById('compare_form');
                      var ally_code_1 = document.getElementById('ally_code1').value.replace(/\D/g, '');
                      var ally_code_2 = document.getElementById('ally_code2').value.replace(/\D/g, '');
                      my_form.action = "/player/" + ally_code_1 + "/c/" + ally_code_2 + "/"
                  }
              </script>

              <form id="compare_form" method="GET" class="form-inline" onsubmit="setCompareFormAction()">
                <label class="sr-only" for="ally_code2">Ally code</label>
                <input type="text" class="form-control" id="ally_code2" placeholder="XXX-XXX-XXX"/>
                <input type="hidden" class="form-control" id="ally_code1" value="{{ player.ally_code }}"/>
                <button type="submit" class="btn btn-default">Compare</button>
              </form>
            </td>
          </tr>
          <tr>
            <th>GA pool</th>
            <td>
              <form id="ga_pool" action="{% url 'sqds_ga:create' player.ally_code %}" method="POST" class="form-inline">
                {% csrf_token %}
                <label class="sr-only" for="ally_codes">Ally codes</label>
                <textarea rows="3" class="form-control" id="ally_codes" placeholder="Ally codes"
                          name="ally_codes"></textarea>
                <button type="submit" class="btn btn-default">Analyse</button>
              </form>
            </td>
          </tr>
          {% if ga_pools %}
            <tr>
              <th>
                {% if ga_pools.count < 10 %}
                  Last GA pools
                {% else %}
                  Last 10 GA pools
                {% endif %}
              </th>
              <td>
                <ul>
                  {% for ga_pool in ga_pools %}
                    <li><a href="{% url 'sqds_ga:view' ga_pool.pk %}">{{ ga_pool.created }}</a></li>
                  {% endfor %}
                </ul>
              </td>
            </tr>
          {% endif %}
          </tbody>
        </table>
      </div>
    </div>

    <!-- Stat panel -->
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">Statistics</div>
        <table class="table">
          <tbody>
          <tr>
            <th>GP</th>
            <td>{{ player.gp | big_number }}</td>
          </tr>
          <tr>
            <td>&nbsp;&nbsp;&nbsp;characters</td>
            <td>{{ player.gp_char | big_number }}</td>
          </tr>
          <tr>
            <td>&nbsp;&nbsp;&nbsp;ships</td>
            <td>{{ player.gp_ship | big_number }}</td>
          </tr>
          <tr>
            <th>Zeta</th>
            <td>{{ player.zeta_count }}</td>
          </tr>
          <tr>
            <th>Unit count</th>
            <td>{{ player.unit_count }}</td>
          </tr>
          <tr>
            <td>&nbsp;&nbsp;&nbsp;7*</td>
            <td>{{ player.seven_star_unit_count }}</td>
          </tr>
          <tr>
            <td>&nbsp;&nbsp;&nbsp;G13</td>
            <td>{{ player.g13_unit_count }}</td>
          </tr>
          <tr>
            <td>&nbsp;&nbsp;&nbsp;G12</td>
            <td>{{ player.g12_unit_count }}</td>
          </tr>
          <tr>
            <td>&nbsp;&nbsp;&nbsp;G11</td>
            <td>{{ player.g11_unit_count }}</td>
          </tr>
          <tr>
            <td>&nbsp;&nbsp;&nbsp;G10</td>
            <td>{{ player.g10_unit_count }}</td>
          </tr>
          <tr>
            <th>G12 gear pieces</th>
            <td>{{ player.g12_gear_count }}</td>
          </tr>
          <tr>
            <td>&nbsp;&nbsp;&nbsp;left</td>
            <td>{{ player.left_hand_g12_gear_count }}</td>
          </tr>
          <tr>
            <td>&nbsp;&nbsp;&nbsp;right</td>
            <td>{{ player.right_hand_g12_gear_count }}</td>
          </tr>
          <tr>
            <th>Mod count</th>
            <td>{{ player.mod_count }}</td>
          </tr>
          <tr>
            <td>&nbsp;&nbsp;&nbsp;+25</td>
            <td>{{ player.mod_count_speed_25 }}</td>
          </tr>
          <tr>
            <td>&nbsp;&nbsp;&nbsp;+20</td>
            <td>{{ player.mod_count_speed_20 }}</td>
          </tr>
          <tr>
            <td>&nbsp;&nbsp;&nbsp;+15</td>
            <td>{{ player.mod_count_speed_15 }}</td>
          </tr>
          <tr>
            <td>&nbsp;&nbsp;&nbsp;+10</td>
            <td>{{ player.mod_count_speed_10 }}</td>
          </tr>
          <tr>
            <td>&nbsp;&nbsp;&nbsp;∑15+</td>
            <td>{{ player.mod_total_speed_15plus }}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- Characters table -->
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">Characters</div>

        {% if filter %}
          <div class="panel-body">
            <form action="" method="get" class="form form-inline">
              {% bootstrap_form filter.form layout='inline' %}
              {% bootstrap_button 'filter' %}
            </form>
          </div>
        {% endif %}

        <div style="overflow-y: scroll">
          {% render_table table %}
        </div>
      </div>
    </div>
  </div>

{% endblock %}
