{% extends 'sqds/base.html' %}

{% load bootstrap3 %}

{% block title %}
  PREPARE FTW - Officer tools
{% endblock %}


{% block content %}

  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">Officer tools</div>
        <div class="panel-body">
          <p>Tools:</p>
          <ul>
            <li><a href="{% url 'sqds_officers:geo_tb' %}">Geo TB player list</a></li>
            <li><a href="{% url 'sqds_officers:sep_farm' %}">Separatists farm progress</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
